<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Notice: The door to information</title>
	<meta name="description" content="Notice is a simple bulletin board that allows you to access the latest trends in real time.">
	<link rel="icon" type="image/png" href="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Corredor_naranja_cordoba_argentina.svg/1200px-Corredor_naranja_cordoba_argentina.svg.png">
	<link rel="stylesheet" href="../static/css/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
	<script src="../static/js/main.js"></script>
</head>
<body>
	<div class="nav-bar">
		<!--<div class="nav-bar-list">
			<div class="key"><span class="bold">Lock:</span> 3</div>
			<div class="key"><span class="bold">New:</span> 2</div>
			<div class="key"><span class="bold" title="At five minutes">Extract:</span> 27348</div>
			<div class="key"><span class="bold">Views:</span> 32</div>	
			<div class="key"><div class="bubble" title="State of service: Online"></div></div>	
		</div> -->
		<div class="nav-bar-options" title="Menu">
			<div class="icon"></div>
		</div>
	</div>

	<div class="buscador">
		<h1>Notice</h1>
		<p class="message">The door to information.</p>
		<div class="buscador-box">
			<input type="text" name="busqueda" placeholder="Añadir palabra clave">
			<div class="key-list">
				<div class="key">Trump<button>x</button></div>
				<div class="key">Cripto<button>x</button></div>
				<div class="key">Politica<button>x</button></div>
				<div class="key">Economia<button>x</button></div>
				<div class="suggestions">
					<div class="key">Dolar</div>
					<div class="key">United State</div>
					<div class="key">Wall Street</div>
				</div>
			</div>
		</div>
	</div>

	<div class="content-list">
		<a class="content" href="#" style="border:1px solid orange">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Corredor_naranja_cordoba_argentina.svg/1200px-Corredor_naranja_cordoba_argentina.svg.png">
			<div class="information">
				<p>Update 0.0.37</p>
				<div class="information-atributes">
					<div class="key">https://notice.org/update/</div>
				</div>
			</div>
		</a>
		<a class="content" href="#">
			<img src="https://pbs.twimg.com/profile_images/689479051841372160/brN1Bg7W.png">
			<div class="information">
				<p>Trump Tests Positive For Covid-19; Stocks Fall: Virus Update</p>
				<div class="information-atributes">
					<div class="key">https://es.weforum.org/</div>
					<div class="key">Views: 87</div>
					<div class="key">Post: 133</div>
				</div>
			</div>
		</a>
		<a class="content" href="#">
			<img src="https://lh3.googleusercontent.com/v0mG0DW6yEJ1fnNqNLIcfVhyZah-WzMlkPZeNLTlMD6shNuIFP102fORwbFKo6fGifM">
			<div class="information">
				<p>How will Donald Trump’s covid-19 infection affect the election?</p>
				<div class="information-atributes">
					<div class="key">https://www.economist.com/</div>
					<div class="key">Views: 2</div>
					<div class="key">Post: 86</div>
				</div>
			</div>
		</a>
		<a class="content" href="#">
			<img src="https://yt3.ggpht.com/a/AATXAJyDX6fn6odU9KqLzyz1jmr6Sf2suzpO0z07ofGTew=s900-c-k-c0xffffffff-no-rj-mo">
			<div class="information">
				<p>¿Y si Trump no puede postularse? Muchos pasos están claros, pero otros no</p>
				<div class="information-atributes">
					<div class="key">https://www.nytimes.com/es/</div>
					<div class="key">Views: 38</div>
					<div class="key">Post: 5</div>
				</div>
			</div>
		</a>
		<a class="content" href="#">
			<img src="https://yt3.ggpht.com/a/AATXAJztfArh_tb7nWH01rrPS8zeCPNj5ION_tsK5ACmmA=s900-c-k-c0xffffffff-no-rj-mo">
			<div class="information">
				<p>Bitcoin: qué tan rentable será el mercado de las criptomonedas en 2020 (y cuáles son las proyecciones para el futuro de la más conocida)</p>
				<div class="information-atributes">
					<div class="key">https://www.bbc.com/</div>
					<div class="key">Views: 1</div>
					<div class="key">Post: 11</div>
				</div>
			</div>
		</a>
	</div>
	<footer>
		<a href="#">Contact</a>
		<a href="#">Privacy</a>
		<a href="#">About</a>
	</footer>

	<!--
	<div class="modal">
		<div class="modal-content">
			<p><button>x</button></p>
			<p class="key">Privacy</p>
			<p class="key">Información que es recogida</p>
			<p>Ubicacion geografica.</p>
			<p class="key">Uso de la información recogida</p>
			<p>Nuestro sitio web podra utilizar su ubicacion geografica para mejorar la experiencia de usuario, ademas de ser almacenada para medir internamente el trafico.</p>
			<p class="key">Cookies</p>
			<p>Las cookies almacenadas en su ordenador son unicamente para guardar las preferencias y configuraciones del usuario.</p>
			<p class="key">Enlaces a Terceros</p>
			<p>Este sitio web tiene enlaces a otros sitios que pudieran ser de su interés. Una vez que usted de clic en estos enlaces y abandone nuestra página, ya no tenemos control sobre al sitio al que es redirigido y por lo tanto no somos responsables de los términos o privacidad ni de la protección de sus datos en esos otros sitios terceros. Dichos sitios están sujetos a sus propias políticas de privacidad por lo cual es recomendable que los consulte para confirmar que usted está de acuerdo con estas.</p>
			<br>
			<p><span class="bold">notice.org</span> se reserva el derecho de cambiar los términos de la presente Política de Privacidad en cualquier momento.</p>
			<p title="Ultima actualizacion">8/9/2020</p>
		</div>
	</div>
	-->
	<!--
	<div class="modal">
		<div class="modal-content">
			<p><button onclick="">x</button></p>
			<p class="key">About</p>
			<img src="../static/images/others/about-flag.png">
			<p><span class="bold">notice.org</span> es un proyecto que recopila informacion publica de sitios de internet con el objetivo conformar un tablon de noticias.</p>
			<p class="key">Sitios de extracción</p>
			<p>Los sitios de noticias de los cuales se recopila la informacion son elegidos manteniendo la variedad y cuidando la calidad, para agregar un sitio de noticias o newsletter puede contactarnos en <span class="bold">contact@notice.org</span></p>
			<p class="key">¿Que software utiliza Notice?</p>
			<p>Las tecnologias que utilizamos son HTML5/CSS3, JavaScript, TypeScript, Angular, Git, Node.js y Express, las tecnologias estan en procesos de cambios al igual que la interfaz grafica del sitio/aplicacion.</p>
			<p class="key">Administración</p>
			<p>
				<a href="#">@support</a>
				<a href="#">@notice</a> 
				<a href="#">@baldassani</a> 
			</p>
			<p class="key">Feedback</p>
			<p>Puedes escribirnos en <span class="bold">contact@notice.org</span></p>
			<p class="key">Aviso legal</p>
			<p>No nos hacemos responsables de los perjuicios del contenido publicado.</p>
			<p title="Ultima actualizacion">8/9/2020</p>
		</div>
	</div>
	-->
</body>
</html>