<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Notice: The door to information</title>
	<meta name="description" content="Notice is a simple bulletin board that allows you to access the latest trends in real time.">
	<link rel="icon" type="image/png" href="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Corredor_naranja_cordoba_argentina.svg/1200px-Corredor_naranja_cordoba_argentina.svg.png">
	<link rel="stylesheet" href="../static/css/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
	<div class="nav-bar">
		<!--<div class="nav-bar-list">
			<div class="key"><span class="bold">Lock:</span> 3</div>
			<div class="key"><span class="bold">New:</span> 2</div>
			<div class="key"><span class="bold" title="At five minutes">Extract:</span> 27348</div>
			<div class="key"><span class="bold">Views:</span> 32</div>	
			<div class="key"><div class="bubble" title="State of service: Online"></div></div>	
		</div> -->
		<div class="nav-bar-options" title="Menu">
			<div class="icon"></div>
		</div>
	</div>

	<div class="buscador">
		<h1>Notice</h1>
		<p class="message">The door to information.</p>
		<div class="buscador-box">
			<input id="search" type="text" name="search" placeholder="Search">
			<div id="blobs" class="key-list">
				<!--
				<div class="key">Trump<button>x</button></div>
				<div class="key">Cripto<button>x</button></div>
				<div class="key">Politica<button>x</button></div>
				<div class="key">Economia<button>x</button></div>
				<div class="suggestions">
					<div class="key">Dolar</div>
					<div class="key">United State</div>
					<div class="key">Wall Street</div>
				</div>
				-->
			</div>
		</div>
	</div>

	<div id="content-list" class="content-list">
		<a class="content" href="#" style="border: 3px solid orange">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Corredor_naranja_cordoba_argentina.svg/1200px-Corredor_naranja_cordoba_argentina.svg.png">
			<div class="information">
				<p>Update 1.0.0</p>
				<div class="information-atributes">
					<div class="key">https://notice.org/update/</div>
				</div>
			</div>
		</a>	
	</div>
	<br><br><br>

	<footer>
		<a href="#">Contact</a>
		<a href="#">Privacy</a>
		<a href="#">About</a>
	</footer>
	<script type="module" src="/static/js/main.js"></script>
</body>
</html>